.testpart{
    background: rgb(238, 238, 238);
}
.imgbox{
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:500px){
    .btn-sec{
        font-size: 1rem !important;
    }
    .btn-primary{
        font-size: .7rem !important;
    }
}